<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>
<body>
    <div class="flex space-x-0 bg-slate-200 items-center justify-center"> 
        <div class="bg-gray-200 flex group">
          <div class="h-[500px] w-[300px] bg-white m-10 rounded-xl shadow-md flex flex-col overflow-hidden">
            <div class="bg-gray-100 flex items-center justify-center h-2/3">
              <img class="object-fill" src="https://m.media-amazon.com/images/I/41pZu9dVoWL.jpg"/>
            </div>
            <div class="bg-white h-1/3">
              <h1 class="pl-4 pt-3 font-medium text-xl group-hover:text-blue-600 group-hover:underline decoration-red-500 decoration-2 underline-offset-4"> Hibernate 6 </h1>
              <p class="pl-4 pt-2 text-lg text-gray-400"> Tudo sobre como utilizar o Hibernate em sua aplicação Java e Spring Boot.</p>
            </div>
          </div>
        </div>
        
        <div class="bg-gray-200 flex group">
          <div class="h-[500px] w-[300px] bg-white m-10 rounded-xl shadow-md flex flex-col overflow-hidden">
            <div class="bg-gray-100 flex items-center justify-center h-2/3">
              <img class="object-fill" src="https://images-na.ssl-images-amazon.com/images/I/413H7B3jHbL._SX403_BO1,204,203,200_.jpg"/>
            </div>
            <div class="bg-white h-1/3">
              <h1 class="pl-4 pt-3 font-medium text-xl group-hover:text-blue-600 group-hover:underline decoration-red-500 decoration-2 underline-offset-4"> Beginning Hibernate </h1>
              <p class="pl-4 pt-2 text-lg text-gray-400"> Tudo sobre como utilizar o Hibernate em sua aplicação Java e Spring Boot. </p>
            </div>
          </div>
        </div>
        </div>
</body>
</html>