<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>
<body class="bg-gray-100">
    <div class="grid grid-cols-3 m-4 space-x-4">

        <div class="min-h-[350px] min-w-[200px] bg-white rounded-lg shadow">
          <div class="flex flex-col">
            <div class="flex justify-start ml-6 mt-6">
              <div class="bg-fuchsia-600 h-auto w-2 rounded-full"></div>
              <div class="flex flex-col ml-3">
                <div class="font-semibold text-xl">Módulo 1</div>
                <div class="text-gray-400 text-lg">Introdução e Arquitetura do Projeto</div>
              </div>
            </div>
            <div class="ml-6 mt-4 mr-6 text-left leading-5 text-gray-600">Quando ao Strapi, eles fizeram muitas mudanças drásticas e ainda não criaram documentação sobre migração, aparentemente é bem mais complexo do que só atualizar. Eu fiz análises e não só o visual mudou, mas também toda a estrutura e ORM deles. Com essas mudanças, não somente a API muda, mas também tudo que a utiliza, ou seja, o nosso client.</div>
          </div>
        </div>
      
        <div class="min-h-[350px] min-w-[200px] bg-white rounded-lg shadow">
          <div class="flex flex-col">
            <div class="flex justify-start ml-6 mt-6">
              <div class="bg-pink-600 h-auto w-2 rounded-full"></div>
              <div class="flex flex-col ml-3">
                <div class="font-semibold text-xl">Módulo 2</div>
                <div class="text-gray-400 text-lg">Montando o Boilerplate</div>
              </div>
            </div>
            <div class="ml-6 mt-4 mr-6 text-left leading-5 text-gray-600">Quando ao Strapi, eles fizeram muitas mudanças drásticas e ainda não criaram documentação sobre migração, aparentemente é bem mais complexo do que só atualizar. Eu fiz análises e não só o visual mudou, mas também toda a estrutura e ORM deles. Com essas mudanças, não somente a API muda, mas também tudo que a utiliza, ou seja, o nosso client.</div>
          </div>
        </div>
      
        <div class="min-h-[350px] min-w-[200px] bg-white rounded-lg shadow">
          <div class="flex flex-col">
            <div class="flex justify-start ml-6 mt-6">
              <div class="bg-lime-600 h-auto w-2 rounded-full"></div>
              <div class="flex flex-col ml-3">
                <div class="font-semibold text-xl">Módulo 3</div>
                <div class="text-gray-500 text-lg">Next.js & Typescript</div>
              </div>
            </div>
            <div class="ml-6 mt-4 mr-6 text-left leading-5 text-gray-600">Eu irei colocar um aviso dentro do vídeo do curso avisando para utilizar a v3, assim pessoas que não acessam o nosso Slack também serão informadas. E eu irei regravar alguns dos trechos explicando sobre a v4.</div>
          </div>
        </div>
      </div>
      
</body>
</html>