<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>
<body class="bg-gray-100">

    <div class="grid grid-cols-1 mt-6 flex-col justify-center items-center max-w-4xl text-start mx-auto ">
    <div class="max-w-4xl">
        <h1 class="uppercase text-gray-500 text-sm font-semibold"> Projects Database </h1>
    </div>

    <div class="max-w-4xl mt-2">
    <div class="flex flex-row justify-center space-x-6">

        <div class="bg-white border border-gray-300 h-[60px] w-[250px] flex rounded-xl overflow-hidden items-center">
          <div class="bg-red-500 w-1/5 text-white h-full flex items-center justify-center">
            <span> O1 </span>
          </div>
          <div class="w-3/5 h-auto text-left pl-2">
            <span class="block"> Oracle </span>
            <span class="block text-gray-400 text-sm"> 120 usuários </span>
          </div>
          <div class="w-1/5 h-full flex items-center justify-center bg-white text-gray-500">
            <a href="#">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                <path d="M10 6a2 2 0 110-4 2 2 0 010 4zM10 12a2 2 0 110-4 2 2 0 010 4zM10 18a2 2 0 110-4 2 2 0 010 4z" />
              </svg>
            </a>
          </div>
        </div>
      
        <div class="bg-white border border-gray-300 h-[60px] w-[250px] flex rounded-xl overflow-hidden items-center">
          <div class="bg-indigo-600 w-1/5 text-white h-full flex items-center justify-center">
            <span> S2 </span>
          </div>
          <div class="w-3/5 h-auto text-left pl-2">
            <span class="block"> SQL Server </span>
            <span class="block text-gray-400 text-sm"> 240 usuários </span>
          </div>
          <div class="w-1/5 h-full flex items-center justify-center bg-white text-gray-500">
            <a href="#">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                <path d="M10 6a2 2 0 110-4 2 2 0 010 4zM10 12a2 2 0 110-4 2 2 0 010 4zM10 18a2 2 0 110-4 2 2 0 010 4z" />
              </svg>
            </a>
          </div>
        </div>
        
        <div class="bg-white border border-gray-300 h-[60px] w-[250px] flex rounded-xl overflow-hidden justify-center items-center">
          <div class="bg-lime-600 w-1/5 text-white h-full flex items-center justify-center">
            <span> 3P </span>
          </div>
          <div class="w-3/5 h-auto text-left pl-2">
            <span class="block"> PostgreSQL </span>
            <span class="block text-gray-400 text-sm"> 130 usuários </span>
          </div>
          <div class="w-1/5 h-full flex items-center justify-center bg-white text-gray-500">
            <a href="#">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                <path d="M10 6a2 2 0 110-4 2 2 0 010 4zM10 12a2 2 0 110-4 2 2 0 010 4zM10 18a2 2 0 110-4 2 2 0 010 4z" />
              </svg>
            </a>
          </div>
        </div>
      
        <div class="bg-white border border-gray-300 h-[60px] w-[250px] flex rounded-xl overflow-hidden justify-center items-center">
          <div class="bg-fuchsia-600 w-1/5 text-white h-full flex items-center justify-center">
            <span> M8 </span>
          </div>
          <div class="w-3/5 h-auto text-left pl-2">
            <span class="block"> MySQL </span>
            <span class="block text-gray-400 text-sm"> 67 usuários </span>
          </div>
          <div class="w-1/5 h-full flex items-center justify-center bg-white text-gray-500">
            <a href="#">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                <path d="M10 6a2 2 0 110-4 2 2 0 010 4zM10 12a2 2 0 110-4 2 2 0 010 4zM10 18a2 2 0 110-4 2 2 0 010 4z" />
              </svg>
            </a>
          </div>
        </div>
        
      </div>
    </div>
</div>
      
</body>
</html>