<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Linha do Tempo</title>
</head>
<body>
    <div class="z-20">
    <div class="w-[400px] h-[80px] bg-gray-100 flex justify-center items-center mx-8 my-8 px-8 py-8 rounded-md">    
        <div class="relative flex flex-col justify-center items-center">
            <div class="w-6 h-6 bg-lime-500 flex items-center justify-center rounded-full">
                <div class="h-2 w-2 bg-lime-500  rounded-full">
                </div>
            </div>
            <div>
                <h1 class="mt-2 text-gray-700 font-normal"> a </h1>
            </div>
        </div>
        <div class="w-full h-0.5 bg-gray-300 -mt-8">
        </div>
        <div class="relative flex flex-col justify-center items-center">
            <div class="w-6 h-6 bg-lime-500 flex items-center justify-center rounded-full">
                <div class="h-2 w-2 bg-lime-500 rounded-full">
                </div>
            </div>
            <div>
                <h1 class="mt-2 text-gray-700 font-normal"> b </h1>
            </div>
            <div class="absolute h-4 w-4 bg-white rotate-45 -bottom-5 ">
            </div>
        </div>
        <div class="w-full h-0.5 bg-gray-300 -mt-8">
        </div>
        <div class="flex flex-col justify-center items-center">
            <div class="w-6 h-6 bg-lime-500 flex items-center justify-center rounded-full">
                <div class="h-2 w-2 bg-white rounded-full">
                </div>
            </div>
            <div>
                <h1 class="mt-2 text-gray-700 font-normal"> c </h1>
            </div>
        </div>
    </div>
 
</div>
</div>
</body>
</html>