<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>
<body>
    <div class="flex h-screen w-screen bg-gray-100">
        <div class="m-28 h-[300px] w-[300px] rounded-md bg-white">
          <div class="relative flex h-1/2 w-full min-w-[300px] justify-center rounded-t-md bg-indigo-500">
            <img class="absolute -bottom-10 h-24 w-24 overflow-hidden rounded-full border-2 border-gray-200/50 object-cover" src="https://us.123rf.com/450wm/fizkes/fizkes2011/fizkes201101907/159419351-head-shot-portrait-smiling-asian-young-woman-looking-at-camera-sitting-on-couch-attractive-female-bl.jpg?ver=6" />
            <div class="absolute -bottom-5 right-24 h-4 w-4 rounded-full border-2 border-white bg-red-500"></div>
          </div>
          <div class="flex h-1/2 w-full flex-col items-center justify-center rounded-b-md bg-gray-50">
            <span class="text-lg font-normal text-indigo-600">Elisa Sakuray</span>
            <span class="text-xs font-normal text-indigo-600">Oracle EBS ATG</span>
          </div>
        </div>
      </div>
      
</body>
</html>