<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>
<body class="bg-gray-300">

    <div class="bg-white h-screen mx-2 my-2 rounded-md shadow-sm">
    <div class="bg-gray-100 h-16 rounded-t-md flex items-center shadow-sm border-b border-gray-300">
        <ul class="flex items-center justify-start flex-1">
            <div class="px-4 ">
                  <img class="h-8 w-auto sm:h-10" src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg">
            </div>
            <div>
            <li class="">
                <a class=" hover:bg-indigo-100 hover:rounded-md hover:text-indigo-900 px-4 py-2" href="#">Company</a>
            </li>
            </div>
            <div>
            <li class="">
                <a class="hover:bg-indigo-100 hover:rounded-md hover:text-indigo-900 px-4 py-2 text-indigo-800" href="#">Users</a>
            </li>
        </div>
        <div>
            <li class="">
                <a class="hover:bg-indigo-100 hover:rounded-md hover:text-indigo-900 px-4 py-2" href="#">Expense Center</a>
            </li>
        </div>
        <div>
            <li class="">
                <a class="hover:bg-indigo-100 hover:rounded-md hover:text-indigo-900 px-4 py-2" href="#">Currency Exchange</a>
            </li>
        </div>
        <div class="ml-auto px-6 flex justify-center itens-center">
            <li>
                <div class="flex items-center justify-center">
                <div class="relative text-gray-500 flex items-center justify-center">
          
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                      </svg>  
                   <div class="absolute m-0 p-0 w-5 h-5 bg-red-500 rounded-full -top-2 -right-2 justify-center items-center text-center">
                       <span class="text-white font-light text-sm block"> 3 </span>
                   </div>
                </div>
            </div>
        </li>
        </div>
        <div >
            <li class="ml-4">
                <a class="bg-blue-700 hover:bg-blue-800 scroll-px-48 px-4 py-2 rounded-md text-white" href="#">Settings</a>
            </li>
        </div>
        <div>
            <li class="pl-6 pr-4">
                <div class="flex items-center pl-2 text-gray-500 text-md">
                    <div class="relative">
                        <img class=" w-10 h-10 object-cover rounded-full" src="https://i.pinimg.com/originals/b2/84/55/b2845599d303a4f8fc4f7d2a576799fa.jpg" alt="Person"/>
                        <div class="absolute w-3 h-3 bg-lime-600 rounded-full bottom-0 right-0 border border-white"></div>
                    </div>
                    <span class="px-2 "> Kobayashi </span>
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7" />
                    </svg>
                </div>

            </li>
        </div>
        </ul>
    </div>   
</div>
    <div class="text-center font-light text-xs text-gray-500 mb-4">
        2022 - Todos os direitos reservados
    </div>

</div>

</body>
</html>