<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Steps</title>
</head>
<body>
  <div class="h-screen w-screen bg-gray-200 py-10 ">
    <div class="flex flex-col h-full rounded-xl overflow-hidden">
      <div class=" w-[400px] h-1/2 bg-blue-50 mx-auto flex rounded-t-xl">


      </div>
      <div class="relative w-[400px] h-1/2 bg-white rounded-b-xl mx-auto border-t border-gray-300 z-10">
        
        <div class="absolute w-6 h-6 bg-white -top-3 left-9 rotate-45 border-l z-20 border-t border-gray-300">          
        </div> 

        <div class="absolute -top-24 flex justify-between items-center w-[320px] scroll-ml-10">
          <div class="flex flex-col justify-center items-center">
            <div class="w-5 h-5 bg-lime-500 rounded-full flex justify-center items-center">
              <div class="w-2 h-2 bg-white rounded-full flex justify-center items-center">
              </div>
              <h1 class="mt-12 text-black/60 font-normal text-sm uppercase"> Start </h1>
       

            </div>
          </div>
          <div class="w-full flex-1">
            <div class="bg-gray-400 h-0.5 flex-1"></div>
          </div>
          <div class="flex justify-center items-center">
            <div class="flex justify-center items-center">
              <div class="w-5 h-5 bg-lime-500 rounded-full flex justify-center items-center">
                <div class="w-2 h-2 bg-white rounded-full">
                </div>
              </div>
              <div>
                <h1 class="mt-12 text-black/60 font-normal text-sm uppercase"> End </h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
