<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Stories</title>
</head>
<body>
    <div class="max-w-2xl mx-auto p-8">
        <h2 class="text-5xl font-bold text-gray-700">Tailwind Stories</h2>
        <ul class="flex space-x-6 mt-8">
          
          <li class="flex flex-col items-center space-y-1">
            <div class="relative bg-gradient-to-tr from-yellow-400 to-fuchsia-600 p-1 rounded-full ">
            <a href="#" class="block bg-white p-1 rounded-full transform transition  hover:-rotate-6">
              <img class="h-24 w-24 rounded-full" src="https://placekitten.com/200/201" alt="cute kity" />
            </a>
            <button class="absolute bottom-0 right-0 bg-blue-500 h-8 w-8 rounded-full text-white font-bold text-2xl border-4 border-white flex items-center justify-center font-mono hover:bg-blue-700 pb-0.5">+</button>
            </div>
            <a href="#"> You </a>
          </li>
          
          <li class="flex flex-col items-center space-y-1">
            <div class="bg-gradient-to-tr from-yellow-400 to-fuchsia-600 p-1 rounded-full ">
            <a href="#" class="block bg-white p-1 rounded-full transform transition  hover:-rotate-6">
              <img class="h-24 w-24 rounded-full" src="https://placekitten.com/200/208" alt="cute kity" />
            </a>
            </div>
            <a href="#"> Meowww  </a>
          </li>
          
          <li class="flex flex-col items-center space-y-1">
            <div class="bg-gradient-to-tr from-yellow-400 to-fuchsia-600 p-1 rounded-full ">
            <a href="#" class="block bg-white p-1 rounded-full transform transition  hover:-rotate-6">
              <img class="h-24 w-24 rounded-full" src="https://placekitten.com/200/203" alt="cute kity" />
            </a>
            </div>
            <a href="#"> Kiko45 </a>
          </li>
          
          <li class="flex flex-col items-center space-y-1">
            <div class="bg-gradient-to-tr from-yellow-400 to-fuchsia-600 p-1 rounded-full ">
            <a href="#" class="block bg-white p-1 rounded-full transform transition  hover:-rotate-6">
              <img class="h-24 w-24 rounded-full" src="https://placekitten.com/200/206" alt="cute kity" />
            </a>
            </div>
            <a href="#"> Snogg </a>
          </li>
        </ul>
      </div>
</body>
</html>